*.DS_Store
*/.DS_Store
.idea
scala-and-spark-for-big-data-and-machine-learning/scala/intellij/target/*
scala-and-spark-for-big-data-and-machine-learning/scala/intellij/.idea/*
scala-and-spark-for-big-data-and-machine-learning/scala/intellij/src/main/resources/tonyfraser123456-18b05aa15342.p12
scala-and-spark-for-big-data-and-machine-learning/scala/intellij/project/target/*
debug.log
*.class
*__pycache__/
udemy-courses.iml
